html,

/*Core of the page is shifted to a night mode-esque design 
to be amicable contrast and easier on eyes*/
body{
  min-width: 290px;
  color: #ffffff;
  background-color: #212121;
  font-family: 'Open Sans', Arial, ans-serif;
  line-height: 1.5;
}

/*CSS outlines NavBar element scrolls with page for easier navigation access
betweent pages*/
#navbar{
  position: fixed;
  min-width: 290px;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  border-color: rgba(70, 77, 92, 0.4);
  border-right: solid;
}

/*CSS on Header elements for legibility and division of each page component*/
header{
  color: white;
  margin: 10px;
  text-align: center;
  font-size: 1.8em;
  font-weight: thin;
}

/*CSS Targeting of class headers for focused styling*/
#main-doc header{
  text-align: left;
  margin: 0px;
}

/*Navbar focused CSS to remove <ul> bullets with auto scroll buttons in (y)
clipping in (x) with hidden property*/
#navbar ul{
  height: 88%;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

/*Further Navbar targeted CSS to section each component
Visual design of NavBar is further developed*/
#navbar li{
  color: #4d4e53;
  border-top: 1px solid;
  list-style: none;
  position: relative;
  width: 100%;
}

/*CSS Visual modification of NavBar with cursor change to
pointer on link hovering*/
#navbar a {
  display: block;
  padding: 10px 30px;
  color: #adaab5; /*!DOUBLE CHECK COLOR HERE*/
  text-decoration: none;
  cursor: pointer;
}

/*CSS Formatting of main document to not clipp with NavBar
done with padding, margin, and positioning*/
#main-doc {
  position: absolute;
  margin-left: 330px;
  padding: 20px;
  margin-bottom: 110px;
}

/*CSS Formatting of article components of Main-Doc*/
section article {
  color: #e9e0ff;
  margin: 15px;
  font-size: 0.96em;
}

/*CSS Formatting of list elements*/
section li {
  margin: 15px 0px 0px 20px;
}

/**/
code {
  display: block;
  text-align: left;
  white-space: pre-line;
  positon: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color: #f7f7f7;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  color: #3904c9;
}

/*CSS Formatting for mobile phones*/
@media only screen and (max-width: 850px) {
  #navbar ul {
    border: 1px solid;
    height: 207px;
  }
  
  #navbar {
    background-color: #212121;
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 275px;
    border: none;
    z-index: 1;
    border-bottom: 2px solid;
  }
  
  #main-doc{
    position: relative;
    margin-left: 0px;
    margin-top: 270px;
  }
}

/*Additional CSS Formatting for mobile*/
@media only screen and (max-width: 400px) {
  #main-doc {
    margin-left: -10px;
  }
  
  code {
    margin-left: -20px;
    width: 100%;
    padding: 15px;
    padding-left: 10px;
    padding-right: 45px;
    min-width: 233px;
  }
}